*{
    margin: 0;
}
body{
    background-color: whitesmoke;
}
/*navbar*/
.navbar-brand{
    color: yellow;
    font-weight: bolder;
    font-size: x-large;
}
.navbar-brand span{
    color: red;
}
.navbar-brand span:hover{
    color:black
}
.logo img{
    height: 40px;
    width: 60px;
    background-color: transparent;
    color: transparent;
}
.navbar-nav{
    margin-left: 200px;
    
}
.nav-link {
    color:white;
    font-size: large;
    font-weight: bold;
}
.search{
    margin-left: 30px;
}
.dropdown-menu a{
    color: white;
}
/*navbar*/
/*contct*/
.form{
    margin-top: 250px;
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.form [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:-4px;
  font-weight:700;
}
.form [type="submit"]:hover { background:#CC4949;
border: 2px solid black; }
.map{
    border:2px solid #CC6666;
    margin-top: 200px;
    margin-bottom: 20px;
}
.map:hover{
    border: 2px solid black;
}
/*contact*/
/*footer*/
footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 10px;
}
footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
}
footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a svg{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover svg{
    color: aqua;
}
a{
    text-decoration: none;
    color:#cacdd2
}
/*footer*/